body.template-builder .content-section {
    background-color:#ccc;

}


#left_col {
    display: inline;
    float: left;
    margin-right: 0px;
    padding: 0;
    text-align: left;
    width: 225px;
    background-color: #ccc; height: 800px;
}

#right_col {
    color: #6e7063;
    min-width: 737px;
    padding: 0;
    text-align: left;
    width: auto;
}

.holding {display: none;}

.structure_input { margin-bottom:20px;}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.tools { position: absolute; top: 0px; right: 0px;}

.tool {
    float: right;
    height: 20px;
    padding: 3px;
    text-align: center;
    width: 20px;
}
.tool:hover { opacity: 0.8; cursor: pointer; }



.tag                                                { border-radius:3px 0px 3px 0px; background-color: #fff; border: 1px solid #ccc; 
    color: #333; font-weight: bold; font-size: 13px; padding: 3px 6px; display: inline-block; top: -1px; left: 0px; position: absolute; }
.container_top h1                                   { margin-top: 0px; padding-top: 20px; }
#flexicontainer                     { background-color:rgba(255, 255, 255, 0.5); min-height: 300px;}
#flexicontainer:before 
{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    content: "";
    opacity: 0.1;
    background:#fff url('/themes/hummingbird/default/lib/templates/checkerboard.gif') repeat top left;
}
#flexicontainer .row              { margin-left:0px; margin-right: 0px;}
#flexicontainer .row .column {padding-top:40px;}
.f_pad                                              { padding:15px; border-radius:3px; position: relative; border: 1px solid #ccc; }
#flexicontainer .row    { min-height: 100px; margin-bottom: 10px; padding-top: 40px;
background: #d6f9ff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #d6f9ff 0%, #9ee8fa 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #d6f9ff 0%,#9ee8fa 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #d6f9ff 0%,#9ee8fa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

#flexicontainer .column                                             { background-color:#F9F9FB;min-height: 100px;float:none; margin-bottom:10px;}
#flexicontainer .hb_column{
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,174,239,0.35);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,174,239,0.35);
box-shadow: 0px 2px 5px 0px rgba(0,174,239,0.35);
}

#flexicontainer .row .column {float:left;}
#flexicontainer .row:before {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Row";
    font-size: 10px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.column:before {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Column";
    font-size: 10px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.container-fluid:before, .container:before {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 4px 0;
    color: #9da0a4;
    content: "Standard width (Container)";
    font-size: 10px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.container-fluid:before 
{
    content: "Full width (Container)";
}


.active {border-color:blue;}
.container, .container-fluid {position:relative;margin-bottom:20px;background-color:white;max-width: 100% !important;padding: 40px 10px 0 10px;}

.ui-sortable-helper {border:1px dashed #ccc;visibility:visible !important;}
.ui-sortable-placeholder {border:1px dashed #ccc;visibility:visible !important;}


.add-btn {color:#ccc;}
.add-btn:hover {color:#ddd;cursor:pointer;}

.item.image-wrapper img {max-width:100%;}


.item {margin:10px 0;position:relative;}
.item .tools {position:absolute;right:inherit;left:0;top:-10px;}
.item.redactor-wrapper .tools {left:inherit;top:inherit;bottom:-5px;right:-5px;z-index:10001;}
.item .tools .tool
{
    font-size:1.2rem;
    display: inline-block;
    line-height: 1;
    margin-left: 2px;
    color: white;
    width: 24px;
    height: 24px;
    line-height: 20px;
    -webkit-border-radius: 12px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 12px;
    -moz-background-clip: padding;
    border-radius: 12px;
    background-clip: padding-box;
    text-align: center;
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.item .tools .tool.handle {
    color:black;
}

.item .tools .tool .handle:hover
{
    background-color:#CCC;
}

.item .tools .tool.remove {background-color:red;}
.item .tools .tool.remove a {color:white;}
.item .tools .tool.remove:hover a {font-weight:bold;}





/*.gallery .thumb .options
{
    position:absolute;
    top:-6px;
    right:6px;
    display:none;
}

.gallery .thumb .options .option
{

}

.gallery .thumb .options .option a {
    color:white;
    display:block;
}

.gallery .thumb .options .option.btn-default a {color:white;}
.gallery .thumb .options .option.btn-default {background-color: #2A313A}
.gallery .thumb .options .option.btn-default:hover {background-color:black;} */






.modal .items {margin:15px 0;}

.modal .items ul li 
{
    float:left;
    display:block;
    width:173px;
    background-color:#F5F5F5;
    border:1px solid #CCC;
    margin:0 5px;
    padding:20px;
    text-align:center;
}

.modal .items ul li:hover {cursor: pointer;background-color:#EEE;border:1px dashed #DDD;}

.modal .items ul li .title {font-weight:bold;}

.redactor-box {overflow: hidden;}

/* toolbar background and other styles*/
.redactor-toolbar {
    background: #2A313A;
    color:white;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.redactor-editor {
    border-top:0;
    border-left:1px solid #E9EDF0;
    border-right:1px solid #E9EDF0;
    border-bottom:1px solid #E9EDF0;
}
 
/* toolbar buttons*/
.redactor-toolbar li a {
    color: white;
}
 
 /*buttons hover state*/
.redactor-toolbar li a:hover {
    background: #00AEEF;
    color: white;
}
 
/*buttons active state*/
.redactor-toolbar li a:active,
.redactor-toolbar li a.redactor-act {
    background: #00AEEF;
    color: white;
}

body .redactor-box-fullscreen {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

body .wrapper.addOpacity {opacity:0.1;}

.imagemanager-insert.active {
    border:1px solid blue;
}

/*.redactor-editor * {
    color:white !important;
}*/