/*!
 *
 * Hummingbird CMS (http://hummingbirdcms.com)
 * Admin Theme Styles v1.0.0
 * Copyright 2014-2015 Tickbox Marketing Ltd.
 *
 */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

html {
    font-size: 62.5%; /* Reset the screen size */
    -ms-text-size-adjust:62.5%;
    -webkit-text-size-adjust:62.5%;
}

html, body { height: 100%; }
body.development  {background-color:black;}

body {
    margin:0;padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-size:1.4rem;
    line-height:1.5;
    color:#333333;
    background-color:#F9F9FB;
    -webkit-font-smoothing: antialiased;
}

a {
    cursor: pointer;
}

::-webkit-input-placeholder {
   color: #CCC !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCC !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC !important;
}

:-ms-input-placeholder {  
   color: #CCC !important;
}

/* Headers */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-weight: 900;}

.h1, h1 {font-size:32px;font-size:3.2rem;} /* =32px */
.h2, h2 {font-size:26px;font-size:2.6rem;} /* =26px */
.h3, h3 {font-size:23px;font-size:2.3rem;} /* =23px */
.h4, h4 {font-size:20px;font-size:2.0rem;} /* =20px */
.h5, h5 {font-size:17px;font-size:1.7rem;} /* =17px */
.h6, h6 {font-size:14px;font-size:1.4rem;} /* =14px */

/* Lists */
ul, ol {padding:0px 15px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
em, i, dfn { font-style: italic; }

/* Margins */
.margin-left-15 { margin-left:15px; }
.marg-bott-5 { margin-bottom: 5px; }

/* Positions */
.absolute {position:absolute;}
.fixed {position:fixed;}
.relative {position:relative;}

/* Positioning */
.block {display:block;}
.inline-block {display: inline-block;}

/* Bootstrap Resets*/
.no_gutter_left {padding-left:0;}
.no_gutter_right {padding-right:0;}
.no_gutter {padding-left:0;padding-right:0;}

/* Base font sizes */
.font-size-10 {font-size:10px;font-size:1rem;}

/* Font changes */
.italic {font-style: italic;}
.lead {font-size:21px;font-size:2.1rem;}
.normal {font-weight:normal;}
.bold {font-weight:600;}
.pull_none {float:none !important;}
.hide, .show 
{
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.divider {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0px rgba(174,174,174,0.25);
    margin-bottom: 20px !important;
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* Badges */
.badge-xs {padding: 3px 7px;}
.badge-sm {padding: 5px 9px;} 
.badge-md {padding: 7px 11px;font-size: 13px;}
.badge-lg {padding: 6px 14px;font-size: 14px;}

.badge--hummingbird {background-color:#00AEEF;}

/* Modal settings */
.modal-x-lg {width:90%;}
.modal-full-width { width:95%;}

/* Extended FontAwesome Fonts */
.fa-file-doc:before, .fa-file-docx:before, .fa-file-ppt:before, .fa-file-pptx:before, .fa-file-odt:before, .fa-file-pdf:before
.fa-file-zip:before, .fa-file-mp3:before, .fa-file-m4a:before, .fa-file-ogg:before, .fa-file-wav:before, .fa-file-mp4:before
.fa-file-webm:before, .fa-file-ogg:before, .fa-file-flv:before
{ content: "\f016"; }

.fa-file-doc:before, .fa-file-docx:before { content: "\f1c2"; }
.fa-file-ppt:before, .fa-file-pptx:before { content: "\f1c4"; }
.fa-file-pdf:before { content: "\f1c1"; }
.fa-file-zip:before { content: "\f1c6"; }
.fa-file-mp3:before, .fa-file-m4a:before, .fa-file-ogg:before, .fa-file-wav:before { content: "\f1c7"; }
.fa-file-mp4:before, .fa-file-webm:before, .fa-file-ogg:before, .fa-file-flv:before { content: "\f1c8"; }

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}


/* other */
.opacity {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.opacity:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
}

/* Arrows */
.arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0,0,0,0.1);
  top: -8px;
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow {
  border-width: 8px;
  z-index: 10;
}


/* Hummingbird */
.wrapper {width:100%;height:100%;margin:0 auto;transition: all 0.5s ease;}

#sidebar {
    background: #2A313A;
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    height:100%;
    overflow-x:scroll;
}
body.preview #sidebar {top:61px;}

#sidebar .brand {background-color:#00AEEF;width:240px;margin-bottom:10px;padding:15px 20px;font-size:18px;color:white;} 
#sidebar .brand:after {
    content:"";
    width: 235px;
    height: 1px;
    display: block;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 4px 2px #000000;
    -moz-box-shadow: 0px 0px 4px 2px #000000;
    box-shadow: 0px 0px 4px 2px #000000;
    margin-top: 15px;
    margin-left: -20px;
}

#sidebar .brand img {width:40px;margin-right:15px;}

#sidebar .sidebar-fixed {width:240px;bottom:0;height:60px;background-color:#2A313A;z-index:100;}

#sidebar .nav {width:240px;position: relative;height:auto;margin-bottom:60px;}
#sidebar .nav > .menu {margin-top: 10px;margin-bottom:20px;}
#sidebar .nav > .menu:first-child {margin-top:0}
#sidebar .nav > .menu:not(.menu-children) { margin-top: 5px;margin-bottom:5px; }
#sidebar .nav > .menu h3 {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px black;
    padding: 0 20px;
    color:#ECECEC;
}

#sidebar .nav > .menu h3 a.white {color: white;}
#sidebar .nav > .menu h3 a.white:hover {color:white;cursor: pointer;}

#sidebar .nav > .menu ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-right:0;
}

#sidebar .nav > .menu ul li a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 20px;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

#sidebar .nav > .menu ul li a.active, #sidebar .nav > .menu ul li a:not(.hasSubMenu):hover {color:#00AEEF;}
#sidebar .nav > .menu ul li a.active:not(.hasSubMenu), #sidebar .nav > .menu ul li a:not(.hasSubMenu):hover, #sidebar.collapsed .nav > .menu ul li.nav-hover a, #sidebar.collapsed .nav > .menu ul li a:active, #sidebar.collapsed .nav > .menu ul li a:hover
{
    border-left:3px solid #00AEEF;
    transition: all 0.3s ease, opacity 0s;
    color:#00AEEF;
}



#sidebar .nav > .menu ul li a i, #sidebar .nav > .menu ul li a svg {
    font-size: 14px;
    margin-right: 10px;
    min-width: 20px;
    text-align: center;
    position: relative;
    top: 0px;
}

#sidebar .nav > .menu ul li a svg {
    fill: white;
}

#sidebar .nav > .menu ul li a:hover svg {
    fill: #00AEEF;
}

#sidebar .nav > .menu ul li a.hasSubMenu:hover, #sidebar .nav > .menu ul li.active a.active 
{
    color: white;
    background-color:#00AEEF;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.25) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.25) 0 1px 0;
    box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.25) 0 1px 0;
}

#sidebar .nav > .menu ul li > ul {display:none;}

#sidebar .nav > .menu ul li > ul.submenu {border-bottom:1px solid black; box-shadow: 0 1px 0px rgba(174,174,174,0.25);margin-bottom:0px!important;}
#sidebar .nav > .menu ul li > ul.submenu:after {margin-bottom:15px;content:'';display:block;}
#sidebar .nav > .menu ul li > ul.submenu li a {padding-left:30px !important;}
#sidebar .nav > .menu ul li > ul.submenu li a.active {background-color: transparent;color:#00AEEF;box-shadow: none;}

#sidebar .nav > .menu ul li a i.fa-chevron-right {font-size:14px;top:0;margin-left:10px;margin-right:0;text-align:right;}
i.fa-chevron-right {float:right !important;margin-top:5px !important;transition: all 0.2s ease;}
i.fa-chevron-right.rotate 
{
    margin-top:0 !important;
    margin-right:-5px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.menu.menu-children + .menu:not(.menu-children) {
    margin-top: -10px !important;
}


/* Main Content */
.main-content { margin-left:240px;background-color:#F9F9FB;height: 100%;} 

.main-content .header-section {background-color:#F9FAFC;border-bottom:1px solid #E9EDF0;height:68px;}
.main-content .header-section #nav-toggle {float:left;height:68px;padding:20px;color: #2A313A;font-size: 18px;font-weight: normal;border-right:1px solid #E9EDF0;}
.main-content .header-section #nav-toggle:hover {background-color:#00AEEF;color:white;}

.main-content .header-section .search-box input 
{
    padding: 0px 15px;
    margin: 0;
    border: 0;
    background-color: transparent;
    height: 67px;
    width: 150px;
    color: #A3A3A3;
    font-weight: normal;font-size:14px;
}

.main-content .header-section .search-box input:hover 
{
    background-color:white;
    height: 67px;
    transition: all 0.5s ease;
}

.main-content .header-section .search-box input:focus 
{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    outline: -webkit-focus-ring-color auto 0;
    transition: all 0.5s ease;
}

.main-content .header-section .profile {width:67px;height:67px;padding:10px;margin-right:10px;transition: all 0.5s ease;}

.main-content .header-section .profile .profile--meta {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;
    background-color: #00AEEF;
}

.main-content .header-section .profile .profile--meta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
}

.main-content .header-section .profile .profile--meta img[src=""] {
    display: none;
}

.main-content .header-section .profile .profile--meta span {
    color: white;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    width: 48px;
    height: 48px;
    font-size: 25px;
}

/*.main-content .header-section .profile img 
{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    width:48px;
    height:48px;
    transition: all 0.5s ease;
    border:1px solid #E9EDF0;
}*/

.main-content .header-section .profile a { color: #fff; font-weight: bold; }
.main-content .header-section .profile a:hover {text-decoration: none;}




.main-content .content-section {padding:20px;min-height:500px;height:auto;}

.main-content .content-section .breadcrumb {background:white;}

.main-content .content-section h1:first-child {margin-top:0;font-size:22px;font-size:2.2rem;}
.main-content .content-section section.panel { padding:20px; }


#footer { font-size:12px; background-color:#2A313A;color:#AEAEAE;padding-top:20px;padding-bottom:20px;text-align: center;height:60px;}
#footer a { color:#AEAEAE; }
#footer a:hover {color:#00AEEF;}



/* Collapsible */
#sidebar.collapsed {width:60px;overflow:visible !important;}
#sidebar.collapsed .brand {width:60px;padding:10px;} 
#sidebar.collapsed .brand:after {width:60px;margin-top:10px;margin-left:-15px;}
#sidebar.collapsed .brand img {width:40px;margin-right:15px;}
#sidebar.collapsed .brand span {display:none;}
#sidebar.collapsed .sidebar-fixed, #sidebar.collapsed .nav {width:60px;}
#sidebar.collapsed .nav > .menu h3 {display:none;}
#sidebar.collapsed .nav .menu ul li { position:relative; }
#sidebar.collapsed .nav .menu ul li:first-child a.active { background-color:#00AEEF;border-left:0; }
#sidebar.collapsed .nav > .menu ul li a i {margin-right: 0;font-size: 20px;}
#sidebar.collapsed .nav > .menu ul li a span {display:none;}
#sidebar.collapsed .nav > .menu ul li a i.fa-chevron-right {display:none;}
#sidebar.collapsed .nav > .menu ul li a:active, #sidebar.collapsed .nav > .menu ul li a:hover {background:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#sidebar.collapsed .nav .menu ul li.nav-hover a span.title
{
    top: 0;
    padding: 10px 20px;
    height:43px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0px rgba(174,174,174,0.25);
    -moz-box-shadow: 0 1px 0px rgba(174,174,174,0.25);
    box-shadow: 0 1px 0px rgba(174,174,174,0.25);
    z-index:100;
}

#sidebar.collapsed .nav .menu ul li.nav-hover a span.title:hover, #sidebar.collapsed .nav .menu ul li.nav-hover ul.submenu li a:hover { color:#00AEEF; }

#sidebar.collapsed .nav .menu ul li.nav-hover a span.title, #sidebar.collapsed .nav .menu ul li.nav-hover .submenu
{
    position: absolute;
    left: 60px;
    margin-left: 0;
    background: #2A313A;
    color: #FFFFFF;
    width: 199px;
    display:block !important;
}

#sidebar.collapsed .nav .menu ul li.nav-hover .submenu 
{
    top: 43px;
    padding: 0 20px;
    z-index:99;
    border-bottom: 0;
    box-shadow:none;
}

#sidebar.collapsed .nav .menu ul li.nav-hover .submenu li
{
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0px rgba(174,174,174,0.15);
}

#sidebar.collapsed .nav .menu ul li.nav-hover .submenu li:last-child { border-bottom: 0; box-shadow:none; }

#sidebar.collapsed .nav .menu ul li.nav-hover .submenu li a 
{
    color:white;
    padding-left:0 !important;
    padding-right:0 !important;
}
#sidebar.collapsed .nav > .menu ul li.nav-hover .submenu li a i { font-size:14px; }

#sidebar.collapsed .nav .menu ul li.nav-hover .submenu:after { margin-bottom:0; }





.main-content.collapsed { margin-left:60px;}
.main-content.collapsed .header-section {height:59px;}
.main-content.collapsed .header-section #nav-toggle {height:58px;padding-top:15px;}
.main-content.collapsed .header-section .search-box input {height:58px;}
.main-content.collapsed .header-section .search-box input:hover {height:58px;}
.main-content.collapsed .profile {width:48px;height:48px;}
.main-content.collapsed .profile img {width:38px;height:38px;}


/* Transitions */
#sidebar, #sidebar .brand, #sidebar .brand img, #sidebar .brand span {transition: all 0.5s ease;}
.main-content {transition: all 0.5s ease;}
#nav-toggle {transition: all 0.5s ease;}




/* Return to top */
#return-to-top
{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 9999;
    background: transparent;
    border: 3px solid #00AEEF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #00AEEF;
    font-size:3.3rem;
    font-size:33px;
    line-height: 43px;
}

#return-to-top:hover { background:#00AEEF;}

#return-to-top:hover i { color:white;line-height: 40px; }





/* Taxonomy */
.taxonomy-group .taxonomy {float:left; padding:5px;}
.taxonomy-group .taxonomy:first-child {padding-left:0;}
.taxonomy-group .taxonomy span {-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);box-shadow: 0 1px 1px rgba(0, 0, 0, .25);}
.taxonomy-group .taxonomy a {color:red;}
.taxonomy-group .taxonomy a:hover, .taxonomy-group .taxonomy a:visited, .taxonomy-group .taxonomy a:active {text-decoration: none; cursor:pointer;}




/* redactor css */
/*.main-content .redactor-toolbar, .main-content .redactor-dropdown {z-index:999 !important;}*/

/* Over riding table styles */
table tr.past, table tr.past a:not(.btn),
table tr.light, table tr.light a:not(.btn) {
    color:#CCC;
}

.table.break-words td {
    word-break: break-all;
    word-wrap: break-word;
}

/* New and over riding button styles */
.btn.btn-preview, .btn.btn-preview:visited, .btn.btn-preview:link {
    background-color: black;
    color:white;
}
.btn.btn-preview:hover {
    color: white;
}


/**
 * Email previewing modal
 */
.modal#emailContent .modal-body img { max-width: 100%; }



/**
 * User profiles
 */
.user-profile .content-header {
    height:100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    margin:-20px -20px 20px;
    overflow: hidden;
}

.user-profile .content-header .header-section {height:auto;color:white;position:absolute;top:0;left:0;right:0;padding:20px;border:0;background:rgb(0,0,0);background:rgba(0,0,0,0.4);}
.user-profile .content-header .header-section h1 {font-size:2.8rem;font-size:28px;font-weight:300;}
.user-profile .content-header .header-section h1 > small {color:#EDEDED;}


/**
 * Password strength/checker
 */
#password-strength--progress .progress {
    height: 3px !important;
}

#password-strength--progress .progress .progress-bar-danger {
    background-color: #e90f10;
}
#password-strength--progress .progress .progress-bar-warning {
    background-color: #ffad00;
}
#password-strength--progress .progress .progress-bar-success {
    background-color: #02b502;
}

#password-strength--progress .fa-eye {
    color: #022255;
    cursor: pointer;
}

#password-strength--progress .fa-circle {
    font-size: 6px;  
}

#password-strength--progress .fa-check {
    color: #02b502;
}

/** Form elements */

label.required:after, em.required:after {
    content: "*";
    color: #dc3545 !important;
    margin-left: 0.3125rem;
}