/*!
 *
 * Hummingbird CMS (http://hummingbirdcms.com)
 * Responsive Admin Theme v1.0.0
 * Copyright 2014-2015 Tickbox Marketing Ltd.
 *
 */


@media screen and (max-width:768px) {
	body .wrapper {
		-webkit-perspective: 0px;
		-ms-perspective: 0px;
		-moz-perspective: 0px;
		-moz-transform: translate3d(-240px, 0, 0);
		-o-transform: translate3d(-240px, 0, 0);
		-ms-transform: translate3d(-240px, 0, 0);
		-webkit-transform: translate3d(-240px, 0, 0);
		transform: translate3d(-240px, 0, 0);
	}

	body.open-sidebar .wrapper {
		-webkit-perspective: 0px;
		-ms-perspective: 0px;
		-moz-perspective: 0px;
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	body .wrapper .main-content {width:100%;}

	body.open-sidebar #sidebar 
	{
box-shadow: 6px 0 4px -4px #222 , -6px 0 4px -4px #222; 
 -moz-box-shadow: 6px 0 4px -4px #222, -6px 0 4px -4px #222; 
-webkit-box-shadow: 6px 0 4px -4px #222, -6px 0 4px -4px #222;
	}
	body.open-sidebar .main-content {opacity:0.25;}
}